<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>status7</em>
      </h1>
    {{/link-to}}

    <div class="links">
      {{#link-to 'users'}}
        users
      {{/link-to}}
    </div>

    <div class="links">
      {{#link-to 'searchresults'}}
        searchresults
      {{/link-to}}
    </div>

    <div class="links">
      {{#link-to 'upload'}}
        upload
      {{/link-to}}
    </div>

  </div>


  
  <div class="body">
    {{outlet}}
  </div>
</div>